name: Deploy to Google Apps Script

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install clasp
        run: npm install -g @google/clasp

      - name: Create clasprc.json
        run: |
          cat <<EOF > ~/.clasprc.json
          ${{ secrets.CLASPRC_JSON }}
          EOF

      - name: Push to Apps Script
        run: |
          clasp push -f
          clasp deploy -i AKfycbx0CqNnAb1DZnuQQX5oAFPDrwcxRsdZ8xdU7vXG4bu5VKKAG6Lw1rqaZrW48MdUnZsq -d "Prod"
